@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); */


* {
  font-family: 'Satisfy', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #0e1135; */
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

}

section .box {
  position: absolute;
  height: 450px;
  width: 450px;
}

/* section
.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #000, transparent);
  opacity: 0.1;
  transform: rotate(45deg);
  transform-origin: left;
} */

section .box .circle {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, #ffa371, #ffb870, #ffcd72, #ffe479, #fffa86);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
}

section .box .circle::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  background-image: linear-gradient(to right bottom, #ffd27d, #ffdc7e, #ffe680, #fff082, #fffa86);
  box-shadow: 0px 0px 20px 5px rgb(255 250 134);
}

section .box .circle h2 {
  position: absolute;
  text-align: center;
  z-index: 2;
  font-size: 4em;
  /* color: #0e1135; */
  background: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section i {
  position: absolute;
  background: #fffa86;
  border-radius: 100%;
  animation: animate linear infinite;
  box-shadow: 0px 0px 20px 10px rgb(255 250 134);
  width: 1px;
  height: 1px;
}

section i:nth-child(even) {
  background: #fffa86;
  border: 1px solid #fffa86;
  box-shadow: 0px 0px 20px 10px rgb(255 250 134);
}


@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}

@media screen and (max-width: 780px) {
  body {
    overflow: hidden;
  }

  section .box {
    width: 250px;
    height: 250px;
  }

  section .box .circle h2 {
    font-size: 3em;
  }

  section i {
    box-shadow: 0px 0px 10px 5px rgb(255 250 134);
  }


  section i:nth-child(even) {
    box-shadow: 0px 0px 5px 3px rgb(255 250 134);
  }

}
